/* Estilo para toda a sidebar */
.custom-button {
    display: inline-block;
    background-color: #4CAF50;  /* Cor de fundo do botão */
    color: white;  /* Cor do texto do botão */
    padding: 8px 16px;  /* Top e Bottom, Right e Left padding */
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    border-radius: 8px;  /* Bordas arredondadas */
}

.custom-button:hover {
    background-color: #45a049; /* Cor de fundo do botão ao passar o mouse */
}
